= simple_form_for([:admin, @event]) do |f|
  = f.error_notification
  .form-inputs
    = f.input :title
    = f.input :performer
    = f.input :start_date
    = f.input :end_date
    = f.input :description, input_html: { class: 'simplemde' }
    = f.input :location
    = f.input :price
  .form-actions
    = f.button :submit
