<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>

<%= link_to 'New Event', new_admin_event_path %>

<div class="events" id="tabs">
  <% grouped_by_month = @events.order(:start_date).group_by { |m| m.start_date.beginning_of_month } %>
  <ul>
    <% grouped_by_month.each do |month| %>
      <li>
        <a href="#<%= month.first.strftime("%B").downcase %>">
          <%= month.first.strftime("%B") %>
        </a>
      </li>
    <% end %>
  </ul>
  <% grouped_by_month.each do |month| %>
    <div id="<%= month.first.strftime("%B").downcase %>">
      <div class="event-per-month">
        <% month[1].each do |event| %>
          <h1><%= event.title %></h1>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<br>
