%p#notice= notice
%p
  %strong Title:
  = @event.title
%p
  %strong Performer:
  = @event.performer
%p
  %strong Start date:
  = @event.start_date
%p
  %strong End date:
  = @event.end_date
%p
  %strong Location:
  = @event.location
%p
  %strong Price:
  = @event.price
.event-description
  = markdown(@event.description)
= link_to 'Back', events_path
