!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Trondheim Konsertkollektiv
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body.Site
    .header-wrapper
      %header
        .logo
          %a{:href => "/"}= image_tag("logo.png")
        %nav
          %ul.nav-ul
            %li
              %a{:href => "/info"} INFO
            - if user_signed_in?
              %li= link_to("ADMIN", admin_root_url)
    .content
      - if flash[:notice]
        .notice= notice
      - elsif flash[:alert]
        .alert= alert
      = yield
    %footer
      .footer
        .footer-copyright
          TRONDHEIM KONSERTKOLLEKTIV
        .footer-social
          %ul.list-inline
            %li
              %a.no-style{href: "http://fb.me/konsertkollektiv", target: "_blank" }
                %span.fa-stack.fa-lg
                  %i.fa.fa-circle.fa-stack-2x
                  %i.fab.fa-facebook-f.fa-stack-1x.fa-inverse
            %li
              %a.no-style{href: "https://www.instagram.com/konsertkollektiv/", target: "_blank" }
                %span.fa-stack.fa-lg
                  %i.fa.fa-circle.fa-stack-2x
                  %i.fab.fa-instagram.fa-stack-1x.fa-inverse
