<!DOCTYPE html>
<html>
<head>
  <title>Trondheim Konsertkollektiv</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
  <body class="Site">
    <div class="header-wrapper">
      <header>

        <div class="logo">
          <%= image_tag("logo3.png") %>
        </div>
        <nav>
          <ul class="nav-ul">
            <li><a href="/about">About</a></li>
            <li><a href="/blogs">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
            <% if user_signed_in? %>
              <li><%= link_to("Admin", admin_root_url) %></li>
            <% end %>
          </ul>
        </nav>
      </header>
    </div>

    <div class="content">
      <% if flash[:notice] %>
        <div class="notice"><%= notice %></div>
      <% elsif flash[:alert] %>
        <div class="alert"><%= alert %></div>
      <% end %>
  		<%= yield %>
    </div>
    <footer>
      <div class="footer">
        <div class="footer-social">
          <ul class="list-inline">
            <li>
              <a class="no-style" href="http://fb.me/trondheimkonsertkollektiv">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li>
              <a class="no-style" href="https://www.instagram.com/konsertkollektiv/">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li>
              <a class="no-style" href="https://twitter.com/TrKoKollektiv">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-copyright">
          TRONDHEIM KONSERTKOLLEKTIV
        </div>
      </div>
    </footer>
  </body>
</html>
